:root {
    --brand-color: #4D5AE5;
    --main-text-color: #2E2F42;
    --descr-text-color: #434455;
    --bgrd-color: #F4F4FD;
    --light-text-color: #ffffff;
    --btn-hover-color: #404BBF;
    --footer-text-color: #E7E9FC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

/* index.html */

/* HEADER */

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
}

.logo-span {
    color: var(--brand-color);
}

.header-list {
    list-style-type: none;
}
.nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--main-text-color);        
}

.nav-link:hover,
.nav-link:focus {
    color: var(--brand-color);
}

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5px;
    color: var(--descr-text-color);
    text-decoration: none;
}

.contact:hover,
.contact:focus {
    color: var(--brand-color);
}

/* MAIN */

/* SECTION Effective Solutions for Your Business  */

.hero {
    background-color: var(--main-text-color);
}

.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    color: var(--light-text-color);
}

.hero-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    color: var(--light-text-color);
    background-color: var(--brand-color);
    border: none;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-hover-color);
}

/* SECTION Our principles */

.prin-list {
    list-style-type: none;
}

.prin-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.prin-desc {
    font-size: 16px;
    line-height: 1.5;
    color: var(--descr-text);
}

/* SECTION What are we doing */

.work-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
}

.work-list {
    list-style-type: none;
}

/* SECTION Our Team */

.team {
    background-color: var(--bgrd-color);
}

.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11; 
}

.team-list {
    list-style-type: none;
}

.team-card {
    background-color: var(--light-text-color);
}

.team-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.team-desc {
    font-size: 16px;
    line-height: 1.5;
    color: var(--descr-text);
}

/* FOOTER */

footer {
    background-color: var(--main-text-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    color: var(--light-text-color);
}

.footer-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--footer-text-color);
}

/* portfolio */

/* MAIN */

.filter {
    list-style-type: none;
}

.btn-active {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-text-color);
    background-color: var(--brand-color);
    border: none;
    cursor: pointer;
}

.btn-active:hover,
.btn-active:focus {
    background-color: var(--btn-hover-color);
}

.filter-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--brand-color);
    background-color: var(--bgrd-color);
    border: none;
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--light-text-color);
    background-color: var(--brand-color);
}

.port-list {
    list-style-type: none;
}

.port-link {
    text-decoration: none;
}

.port-title {
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text-color);
    
}

.port-desc {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--descr-text-color);
}